# Network Info
TARGET_IP=192.168.56.10
API_PORT=8000
UI_PORT=8501

# UI -> FastAPI
API_URL=http://192.168.56.10:8000
API_CHAT_PATH=/api/v1/chat

# Langfuse (Tracing & Monitoring)
LANGFUSE_PUBLIC_KEY=pk-lf-...
LANGFUSE_SECRET_KEY=sk-lf-...
LANGFUSE_HOST=http://localhost:3000